
h1{
    text-align: center;
    color: black;
}
h3{
    text-align: center;
    font-size: 40px;
}
.grass-card{
  width: 100%;
  max-width: 400px;
  padding: 16px 20px;
  margin: 16px auto;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border: 5px solid #34495E;
  color: #000;
}
.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

.tab {
  padding: 8px 16px;
  cursor: pointer;
  background: rgba(140, 140, 140);
  border: none;
  border-radius: 5px;
  color: black;
  height: 42px;
  width: 400px;
  font-size: 20px;
  padding-bottom: 40px;
}

.tab.active {
  background: #3c5a72;
  color: black;
}

.tab-content {
  display: none;
  padding: 15px;
  background: rgba(255,255,255, 0.2);
  border-radius: 5px;
  color: black;
}

.tab-content.active {
  display: block;
}