body{
     background: linear-gradient(135deg, #4ca1af, #3c7080);
    height: 1000px; 
}
h3{
    color: white;
    text-align: center;
    font-size: 30px;
}
h2{
    color: white;
    text-align: center;
    font-size: 30px;
}
.link{
    text-align: center;
}